<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <style>

    </style>
</head>
<body>
<form action="/user/auth/resultPassword" method="post">
    <input type="hidden" name="id" th:value="${id}">
    <label for="currentPassword">기존 비밀번호:</label>
    <input type="password" id="currentPassword" name="currentPassword">
    <br>
    <label for="newPassword">변경 비밀번호:</label>
    <input type="password" id="newPassword" name="newPassword">
    <br>
    <label for="checkNewPassword">변경 비밀번호 확인:</label>
    <input type="password" id="checkNewPassword" name="checkNewPassword">
    <br>
    <input type="submit" value="변경">
</form>
<div>
    <p th:if="${num == 1}">비밀번호 변경 실패! 변경 비밀번호를 확인해주세요!</p>
</div>

<div>
    <p th:if="${num == 2}">비밀번호 변경 실패! 기존의 비밀번호가 아닙니다.</p>
</div>
</body>
</html>
