<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 생성</title>
</head>
<body>
<th:block th:replace="~{menu :: menu}" />
게시글 생성

<form action="/post/insert" method="post" enctype="multipart/form-data">
    카테고리:
    <select name="category" id="category">
        <option value="test1">test1 게시판</option>
        <option value="test2">test2 게시판</option>
        <option value="test3">test3 게시판</option>
        <option value="test4">test4 게시판</option>
        <!-- 필요에 따라 다른 카테고리 옵션들을 추가할 수 있습니다. -->
    </select>
    <input type="text" id="newCategory" placeholder="새 게시판 생성">
    <button type="button" onclick="addOption()">추가</button><br>
    <br>
    닉네임: <input type="text" name="nickname"><br>
    제목: <input type="text" name="title"><br>
    내용: <textarea rows="5" cols="40" name="content"></textarea><br>

    <input type="submit" value="추가">
</form>

<script>
    function addOption() {
        var select = document.getElementById("category");
        var newCategoryInput = document.getElementById("newCategory");
        var newCategory = newCategoryInput.value.trim();
        if (newCategory !== "") {
            var option = document.createElement("option");
            option.text = newCategory;
            option.value = newCategory; // 새로운 카테고리의 value를 문자열로 설정
            select.add(option);
            newCategoryInput.value = ""; // 입력 필드 초기화
        }
    }
</script>


</body>
</html>