<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/" method="POST">
    이름: <input type="text" id="name" name="name">
    <br>
    닉네임: <input type="text" id="nick" name="nick">
    <br>
    이메일: <input type="email" id="email" name="email">
    <br>
    비밀번호: <input type="password" id="password" name="password">
    <br>
    비밀번호 확인: <input type="password" id="checkPassword" name="checkPassword">
    <br>
    생년월일: <input type="date" id="birth" name="birth">
    <br>
    mbti: <input type="text" id="mbti" name="mbti">
    <br>
    전화번호: <input type="text" id="phone" name="phone">
    <input type="submit" value="제출">
</form>
</body>
</html>
