<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<body>
<th:block th:replace="~{menu :: menu}" />
게시글 수정

<form th:action="|/post/update/${category}|" th:object="${post}" method="post">
    idx : <input type="text" readonly th:field="*{idx}"><br/>
    nickname : <input type="text" th:field="*{nickname}"><br/>
    title : <input type="text" th:field="*{title}"><br/>

    <textarea rows="5" cols="40" th:field="*{content}"> </textarea><br/>
    <input type="submit" value="수정" />
</form>


</body>



</body>
</html>